@import "tailwindcss";

.section-title {
  @apply text-4xl font-bold;
}

.section-subtitle {
  @apply text-lg font-semibold;
}

.primary-btn {
  @apply px-8 py-3 bg-red-600 hover:bg-red-700 transition text-white rounded-full font-semibold flex items-center gap-2 shadow-lg;
}


